services:
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: servicebooker
      POSTGRES_USER: servicebooker
      POSTGRES_PASSWORD: servicebooker
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
